<VirtualHost _default_:443>
    Alias                   /cgit/css       /usr/share/cgit
    ScriptAlias             /               /usr/lib/cgit/cgit.cgi/
    SSLEngine               on
</virtualHost>
